*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Quicksand", sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    height:100%;
    background-color: #F7F6F2;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 45rem;
    height: 52rem;
    background-color: #C8C6C6;
    box-shadow: 0 0.5rem 3rem black;
}

.month{
    width: 100%;
    height: 9rem;
    background-color: #4B6587 ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem black;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem black;

    
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }

  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #4B6587;
  }

  /* nav styles */
nav, footer {
    font-family: verdana, sans-serif;
    background-color: #F7F6F2;
  }
  nav ul li a:link, nav ul li a:visited {
    color: #4B6587;
  }
  nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: black;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  nav ul li {
   font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    flex: 1 1 50%;
  }
  nav ul li a { 	
    display: block; 	
    border: 1px solid; 
    padding: .5em 1em; 	
    border-radius: .5em; 
    margin: .25em; 
    } 	

    h2 {
        font-family: Verdana, sans-serif;
        font-weight: normal;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #7A0002;
        border-top: 1px solid;
        margin-top: 1.5em;
      }
      main {
        font-size: 1em;
        line-height: 1.4em;
        color: #555;
        margin: 2.5%;
      }
